{{>header}}

<div class="container">
  <p class="bg-success tipo"> COORDINADOR {{nombre}}</p>
  <h2 class="text-center"> CREAR CURSO </h2>
  {{{respuesta}}}
  <form action="/crear" method="post">

    <div class="row">
      <div class="col-sm">
        <label for="nombre" class="form-label b"> Curso </label>
        <input type="text" class="form-control" name="nombre" required>
        <label for="mod" class="form-label b"> Modalidad </label>
        <select class="form-select" name="mod">
          <option value="-"> - </option>
          <option value="Presencial"> Presencial </option>
          <option value="Virtual"> Virtual </option>
        </select>
        <label for="desc" class="form-label b"> Detalle </label>
        <textarea class="form-control" name="desc" required> </textarea>
      </div>

      <div class="col-sm">

        <label for="valor" class="form-label b"> Valor </label>
        <input type="number" class="form-control" name="valor" required>
        <label for="tiempo" class="form-label b"> Intensidad horaria </label>
        <input type="text" class="form-control" name="tiempo">
      </div>
    </div>

    <input type="submit" class="btn btn-success boton" value="Crear">

  </form>
</div>

{{>footer}}
