{{>header}}

{{{mensaje}}}

<div class="container">
  <div class="py-4">
    <img src="img/info1.png" class="d-block w-100" alt="infoFacultades"/>
  </div>
  <div class="py-4">
    <img src="img/info2.png" class="d-block w-100" alt="infoFacultades"/>
  </div>
  <div class="py-4">
    <img src="img/info3.png" class="d-block w-100" alt="infoFacultades"/>
  </div>
</div>

{{>footer}}
