{{>header}}

<div class="container">
  <p class="bg-success tipo"> ADMINISTRADOR </p>
  <h2 class="text-center"> Inscritos </h2>
  <div class="row row-cols-2">

    {{{ eliminarRegistro idU idR }}}

    {{{verInscritos}}}

  </div>
</div>

{{>footer}}
