{{>header}}
<div class="container">
  <p class="bg-success tipo"> COORDINADOR {{nombre}} </p>
  <h2 class="text-center"> INSCRITOS </h2>
  {{{eliminado}}}

  <div class="row row-cols-2">
    {{{ verInscritos listaCur listaAsp }}}
  </div>
</div>

{{>footer}}
