{{>header}}

<div class="container">
  <p class="bg-success tipo"> ESTUDIANTE </p>
  <h2 class="text-center"> Inscribir a curso </h2>

  <form action="/inscribir" method="post">

    {{{crearegistro idU nombreU correoU telU idC}}}

    <label for="id" class="form-label"> Documento de Identidad: </label>
    <input type="number" class="form-control" name="id" required>
    <label for="nombre" class="form-label"> Nombre Estudiante: </label>
    <input type="text" class="form-control" name="nombre" required>
    <label for="email" class="form-label"> Correo: </label>
    <input type="email"class="form-control"  name="email" required>
    <label for="tel" class="form-label"> Teléfono: </label>
    <input type="number" class="form-control" name="tel" required>

    {{{cursoseleccion}}}

    <input type="submit" class="btn btn-success boton" value="Registrar">
  </form>
</div>

{{>footer}}
