<hr />
<footer>

  <div class="container">
    <p class="foot">
      COPYRIGHT &copy 2021 TECNOLÓGICO DE ANTIOQUIA. TODOS LOS DERECHOS RESERVADOS. <br/> <br/>
      <b> DIRECCIÓN: </b> CALLE 78B NO. 72A - 220 MEDELLÍN - COLOMBIA - SURAMÉRICA
      <b> HORARIO DE ATENCIÓN AL PÚBLICO: </b> 7:30 A.M. A 12:00 M. Y  DE 1:00 P.M. A 5:30 P.M. DE LUNES A JUEVES, LOS VIERNES DE 7:30 A.M. A 12:00 M. Y 1:00 P.M. A 4:30 P.M.
      <b> TELÉFONO PBX: </b> (574) 444 37 00
      <b> COPACABANA: </b> CARRERA 50 N°50A - 59 TELÉFONO: 4013997
      <b> ITAGUÍ: </b> INSTITUCIÓN EDUCATIVA SIMÓN BOLÍVAR CALLE 65 N° 46A - 95  TELÉFONO: 2819509 CALLE 76 N° 49 – 24 INSTITUCIÓN EDUCATIVA ORESTE SINDICI
      TELÉFONO: 2819509 CALLE 80 N° 57 -16  INSTITUCIÓN EDUCATIVA BENEDIKTA ZUR NIEDEN TELÉFONO: 2819509
      <b> CORREO ELECTRÓNICO EXCLUSIVO PARA RECIBIR NOTIFICACIONES JUDICIALES: </b> NOTIFICACIONESJUDICIALES@TDEA.EDU.CO
      <b> ATENCIÓN AL USUARIO: </b> ATENCIONALCLIENTE@TDEA.EDU.CO
      <b>ESCRIBA SU DENUNCIA AL CORREO: </b> JURIDICA@TDEA.EDU.CO SUS DATOS PERSONALES SERÁN PROTEGIDOS
    </p>
  </div>


    <div class="jumbotron bg-success text-white">
      <p class="frase"> Creemos en el futuro, creemos en ti. </p>
    </div>


</footer>

<script src="js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>
