.imgind {
  min-width: 130px;
}

.foot {
  font-size: 12px;
  text-align: justify;
}

.b {
  font-weight: bold;
}

.b2 {
  color: #2f5c00;
  font-weight: bold;
}

.tipo {
  color: white;
  font-weight: bold;
  padding: 5px 10PX;
}

.jumbotron {
  align-items: center;
  display: flex;
  height: 80px;
  padding-top: 15px;
}

.frase {
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 5px;
  padding-right: 80px;
  text-align: right;
  width: 100%;
}

.boton {
  margin: 20px 3px;
  width: 150px;
}

.formindex {
  margin: 0 3px;
  height: 35px;
  width: 130px;
}

h1 {
  margin: 25px 0;
}

h2 {
  margin-bottom: 15px;
}

.container {
  margin-top: 30px;
}

.curinfo{
  font-size: 18px;
  height: 62px;
}

.insinfo {
  font-size: 18px;
  font-weight: bold;;
}

span {
  font-weight: bold;
}

.detalle {
  max-width: 100px;
}
